<h3 class="page-header">考试排名</h3>
<div class="papers-list-wrapper">
  <div class="navbar-ranking-wrapper">排名类型</div>
  <div class="papers-container">
    <div class="card-wrapper">
      <a href="/admin/ranking/individual?period=week" class="card-cell papers-card individual-ranking">
        <div class="card-bottom-information">
          <span class="information-icon"><i class="fa fa-user"></i></span>
          <span class="information-text finish-number">个人排名</span>
        </div>
      </a>
      <a href="/admin/ranking/company?period=month" class="card-cell papers-card company-ranking">
        <div class="card-bottom-information">
          <span class="information-icon"><i class="fa fa-home"></i></span>
          <span class="information-text finish-number">公司排名</span>
        </div>
      </a>
    </div>
  </div>
</div>
